In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/tanma/Mumbai15-16-17.csv")

In [3]:
df.head(5)

,Pl No,H.No,Horse,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Ratings,Odds,Time
0,1,7,GYAHANA,4y b m,D J Surti,Vishal,51.5,-5,4,S,NECK,NaN,6,25/1,01:12.7
1,2,1,MOROCCAN,4y b g,M Bobby,R Ajinkya,61.5,-3.5,5,A,1/2,NaN,26,72/100,01:12.8
2,3,4,DEVOTED,3y b g,Ivor Fernandes,R Shelar,58.5,-,8,S,1/1,2.0,20,13/1,01:13.1
3,4,8,PRACS,4y b m,Nirad Karanjawala,S Zervan,50.0,-,2,A,1/8,3.5,3,14/1,01:13.3
4,5,3,ZAFIRAH,5y b m,Narendra Lagad,Dashrath Singh,59.0,-,3,A,1/2,11.5,21,27/4,01:14.6

In [4]:
list(df)

['Pl No',
 'H.No',
 'Horse',
 'Desc',
 'Trainer',
 'Jockey',
 'Wt',
 'Al',
 'Dr',
 'Sh',
 'Won By',
 'Dist Win',
 'Ratings',
 'Odds',
 'Time']

In [5]:
df = df.drop(['Al','H.No','Desc','Won By','Dist Win','Time'], axis=1)
list(df)

['Pl No', 'Horse', 'Trainer', 'Jockey', 'Wt', 'Dr', 'Sh', 'Ratings', 'Odds']

In [6]:
df['Pl No']=df['Pl No'].str.strip()
df['Horse']=df['Horse'].str.strip()
df['Trainer']=df['Trainer'].str.strip()
df['Jockey']=df['Jockey'].str.strip()
df['Sh']=df['Sh'].str.strip()
df['Ratings']=df['Ratings'].str.strip()
df['Odds']=df['Odds'].str.strip()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9032 entries, 0 to 9031
Data columns (total 9 columns):
Pl No      9032 non-null object
Horse      9032 non-null object
Trainer    9029 non-null object
Jockey     9032 non-null object
Wt         9032 non-null float64
Dr         9032 non-null int64
Sh         9032 non-null object
Ratings    9032 non-null object
Odds       8645 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 635.1+ KB

In [ ]:
#df = df.drop(['Pl  No'], axis=1)

In [8]:
df['Pl No'].describe()

count     9032
unique      22
top          1
freq       956
Name: Pl No, dtype: object

In [11]:
df.groupby('Pl No').size()

Pl No
0    8076
1     956
dtype: int64

In [10]:
#dataset[[1,2,3,4,5]] = dataset[[1,2,3,4,5]].replace(0, numpy.NaN)
df['Pl No'] = [1 if b=='1' else 0 for b in df['Pl No']]

In [ ]:
#df['Pl No']=df['Pl No'].replace('10',0,regex=True)
#df['Pl No']=df['Pl No'].replace('11',0,regex=True)
#df['Pl No']=df['Pl No'].replace('12',0,regex=True)
#df['Pl No']=df['Pl No'].replace('13',0,regex=True)
#df['Pl No']=df['Pl No'].replace('14',0,regex=True)
#df['Pl No']=df['Pl No'].replace('15',0,regex=True)
#df['Pl No']=df['Pl No'].replace('16',0,regex=True)
#df['Pl No']=df['Pl No'].replace('17',0,regex=True)
#df['Pl No']=df['Pl No'].replace('18',0,regex=True)
#df['Pl No']=df['Pl No'].replace('19',0,regex=True)
#df['Pl No']=df['Pl No'].replace('2',0,regex=True)
#df['Pl No']=df['Pl No'].replace('20',0,regex=True)
#df['Pl No']=df['Pl No'].replace('3',0,regex=True)
#df['Pl No']=df['Pl No'].replace('4',0,regex=True)
#df['Pl No']=df['Pl No'].replace('5',0,regex=True)
#df['Pl No']=df['Pl No'].replace('6',0,regex=True)
#df['Pl No']=df['Pl No'].replace('7',0,regex=True)
#df['Pl No']=df['Pl No'].replace('8',0,regex=True)
#df['Pl No']=df['Pl No'].replace('9',0,regex=True)
#df['Pl No']=df['Pl No'].replace('W',0,regex=True)

In [12]:
df.groupby('Pl No').size()

Pl No
0    8076
1     956
dtype: int64

In [13]:
df.groupby('Sh').size()

Sh
-      30
A    8578
S     412
U      12
dtype: int64

In [14]:
df['Sh']=df['Sh'].replace('-',np.nan,regex=True)

In [15]:
df['Sh'].isnull().any()

True

In [16]:
df.groupby('Ratings').size()

Ratings
-      1200
0        54
1         8
10       25
100      29
101       7
102       9
103       6
104       8
105      11
106      13
107      18
108       9
109      16
11       37
110      15
111      16
112       8
113      11
114      10
115      10
116       6
117       3
118       7
119       4
12       32
120       7
121       2
122       3
123       1
       ...
72       22
73       32
74       29
75       26
76       35
77       17
78       17
79       21
8        18
80       32
81       11
82       24
83       11
84       22
85       11
86       24
87       18
88       16
89        7
9        32
90       22
91       13
92       15
93       11
94       14
95       13
96       27
97        5
98       13
99       11
Length: 129, dtype: int64

In [17]:
df['Ratings']=df['Ratings'].replace('-',np.nan,regex=True)

In [18]:
df.groupby('Ratings').size()

Ratings
0      54
1       8
10     25
100    29
101     7
102     9
103     6
104     8
105    11
106    13
107    18
108     9
109    16
11     37
110    15
111    16
112     8
113    11
114    10
115    10
116     6
117     3
118     7
119     4
12     32
120     7
121     2
122     3
123     1
124     1
       ..
72     22
73     32
74     29
75     26
76     35
77     17
78     17
79     21
8      18
80     32
81     11
82     24
83     11
84     22
85     11
86     24
87     18
88     16
89      7
9      32
90     22
91     13
92     15
93     11
94     14
95     13
96     27
97      5
98     13
99     11
Length: 128, dtype: int64

In [19]:
df["Ratings"].str.contains('-').any()

False

In [20]:
df['Ratings'].isnull().any()

True

In [21]:
df.describe(include='all')

,Pl No,Horse,Trainer,Jockey,Wt,Dr,Sh,Ratings,Odds
count,9032.000000,9032,9029,9032,9032.000000,9032.000000,9002,7832,8645
unique,NaN,1560,132,121,NaN,NaN,3,128,164
top,NaN,WIND CRAFT,Narendra Lagad,P Trevor,NaN,NaN,A,27,20/1
freq,NaN,28,883,585,NaN,NaN,8578,452,1128
mean,0.105846,NaN,NaN,NaN,55.614094,5.801484,NaN,NaN,NaN
std,0.307657,NaN,NaN,NaN,2.939168,3.619835,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,48.500000,0.000000,NaN,NaN,NaN
25%,0.000000,NaN,NaN,NaN,53.500000,3.000000,NaN,NaN,NaN
50%,0.000000,NaN,NaN,NaN,55.500000,5.000000,NaN,NaN,NaN
75%,0.000000,NaN,NaN,NaN,58.000000,8.000000,NaN,NaN,NaN
max,1.000000,NaN,NaN,NaN,66.000000,22.000000,NaN,NaN,NaN

In [22]:
df.head(5)

,Pl No,Horse,Trainer,Jockey,Wt,Dr,Sh,Ratings,Odds
0,1,GYAHANA,D J Surti,Vishal,51.5,4,S,6,25/1
1,0,MOROCCAN,M Bobby,R Ajinkya,61.5,5,A,26,72/100
2,0,DEVOTED,Ivor Fernandes,R Shelar,58.5,8,S,20,13/1
3,0,PRACS,Nirad Karanjawala,S Zervan,50.0,2,A,3,14/1
4,0,ZAFIRAH,Narendra Lagad,Dashrath Singh,59.0,3,A,21,27/4

In [23]:
import pandas_profiling as pp

C:\Users\tanma\Anaconda3\lib\site-packages\pandas_profiling\plot.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "C:\Users\tanma\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\tanma\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\tanma\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 486, in start
    self.io_loop.start()
  File "C:\Users\tanma\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 127, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\tanma\Anaconda3\lib\asyncio\base_events.py", line 422, in run_forever
    self._run_once()
  File "C:\Users\tanma\Anaconda3\lib\asyncio\base_events.py", line 1432, in _run_once
    handle._run()
  File "C:\Users\tanma\Anaconda3\lib\asyncio\events.py", line 145, in _run
    self._callback(*self._args)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 117, in _handle_events
    handler_func(fileobj, events)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "C:\Users\tanma\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\tornado\stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2666, in run_cell
    self.events.trigger('post_run_cell', result)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\IPython\core\events.py", line 88, in trigger
    func(*args, **kwargs)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel\pylab\backend_inline.py", line 160, in configure_once
    activate_matplotlib(backend)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\IPython\core\pylabtools.py", line 311, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 231, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\matplotlib\__init__.py", line 1410, in use
    reload(sys.modules['matplotlib.backends'])
  File "C:\Users\tanma\Anaconda3\lib\importlib\__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "C:\Users\tanma\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  matplotlib.use(BACKEND)

In [24]:
pp.ProfileReport(df)

In [25]:
df.to_csv('Mumbai15-16-17CleanedData.csv')

In [26]:
print(df.isnull().sum())

Pl No         0
Horse         0
Trainer       3
Jockey        0
Wt            0
Dr            0
Sh           30
Ratings    1200
Odds        387
dtype: int64

In [26]:
df.dropna(inplace=True)

In [27]:
df.describe(include='all')

,Pl No,Horse,Trainer,Jockey,Wt,Dr,Sh,Ratings,Odds
count,1851.000000,1851,1851,1851,1851.000000,1851.000000,1851,1851,1851
unique,NaN,627,85,62,NaN,NaN,3,118,65
top,NaN,EIGER'S TIGER,Narendra Lagad,C S Jodha,NaN,NaN,A,27,20/1
freq,NaN,7,199,118,NaN,NaN,1788,141,290
mean,0.103728,NaN,NaN,NaN,55.541059,6.180983,NaN,NaN,NaN
std,0.304989,NaN,NaN,NaN,3.043059,3.872311,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,48.500000,1.000000,NaN,NaN,NaN
25%,0.000000,NaN,NaN,NaN,53.500000,3.000000,NaN,NaN,NaN
50%,0.000000,NaN,NaN,NaN,55.500000,6.000000,NaN,NaN,NaN
75%,0.000000,NaN,NaN,NaN,58.000000,9.000000,NaN,NaN,NaN
max,1.000000,NaN,NaN,NaN,63.500000,20.000000,NaN,NaN,NaN

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
labelencoderx = LabelEncoder()

In [30]:
df['Horse'] = labelencoderx.fit_transform(df.values[:, 1])
df['Trainer'] = labelencoderx.fit_transform(df.values[:, 2])
df['Jockey'] = labelencoderx.fit_transform(df.values[:, 3])
df['Sh'] = labelencoderx.fit_transform(df.values[:, 6])

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1851 entries, 0 to 1979
Data columns (total 9 columns):
Pl No      1851 non-null int64
Horse      1851 non-null int64
Trainer    1851 non-null int64
Jockey     1851 non-null int64
Wt         1851 non-null float64
Dr         1851 non-null int64
Sh         1851 non-null int64
Ratings    1851 non-null object
Odds       1851 non-null object
dtypes: float64(1), int64(6), object(2)
memory usage: 144.6+ KB

In [ ]:
df.groupby('Pl No').size()

In [ ]:
#df['Pl No']=pd.to_numeric(df['Pl No'], downcast='integer')

In [34]:
df.dtypes

Pl No        int64
Horse        int64
Trainer      int64
Jockey       int64
Wt         float64
Dr           int64
Sh           int64
Ratings     object
Odds        object
dtype: object

In [33]:
df['Wt'] = df['Wt'].convert_objects(convert_numeric=True)

C:\Users\tanma\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1851 entries, 0 to 1979
Data columns (total 9 columns):
Pl No      1851 non-null int64
Horse      1851 non-null int64
Trainer    1851 non-null int64
Jockey     1851 non-null int64
Wt         1851 non-null float64
Dr         1851 non-null int64
Sh         1851 non-null int64
Ratings    1851 non-null int64
Odds       1851 non-null object
dtypes: float64(1), int64(7), object(1)
memory usage: 144.6+ KB

In [36]:
## Both work similarly

df['Pl No'] = df['Pl No'].apply(pd.to_numeric, errors='coerce')
df['Ratings'] = df['Ratings'].values.astype(np.int64)

In [38]:
def convert_to_float(frac_str):
    try:
        return float(frac_str)
    except ValueError as error:        
        num, denom = frac_str.split('/')
        try:
            leading, num = num.split(' ')
            whole = float(leading)
        except ValueError:
            whole = 0
        frac = float(num) / float(denom)
        return whole - frac if whole < 0 else whole + frac

In [40]:
df['new_odds'] = df['Odds'].apply(lambda x: convert_to_float(x))
df.head(30)

ValueError: not enough values to unpack (expected 2, got 1)

In [41]:
df = df.drop(['Odds'], axis=1)

In [51]:
df = pd.read_csv("C:/Users/tanma/PuneSeason17CleanedData.csv")

In [66]:
dfm=df.iloc[:-14,:]
dfv=df.iloc[1837:,:]

In [68]:
dfv.head(10)

      Pl No  Horse  Trainer  Jockey    Wt  Dr  Sh  Ratings  new_odds
1837      1     58       49      51  54.5  12   0       27       4.0
1838      0    597        4      16  54.5   3   0       27       4.0
1839      0     35        7       9  54.5  11   0       24      15.0
1840      0      4       52      34  54.5   2   0       27       7.0
1841      0     94       25      12  56.0   7   0       30       1.5
1842      0     98        2      44  56.0  13   0       30      15.0
1843      0    573       40       8  56.0  14   0       27      12.0
1844      0    209       14      49  56.0   6   0       25      15.0
1845      0    240       34      31  56.0   1   0       30       8.0
1846      0    490       51       0  54.5   4   0       27       6.0

In [42]:
df.head(10)

   Pl No  Horse  Trainer  Jockey    Wt  Dr  Sh  Ratings  new_odds
0      1     18       62      31  56.5  12   0       31      5.50
1      0     59       74      18  55.5   9   0       29     15.00
2      0    465        1      46  54.5  10   0       27     20.00
3      0    566       48       0  59.0   6   0       36     12.00
4      0    123       77      12  54.5   2   0       27      3.75
5      0    101       56      25  54.5   1   0       27      6.00
6      0     47       48      16  52.5   7   0       23      8.00
7      0    568       51      43  54.5   5   0       27     20.00
8      0    358       63      35  54.5   8   0       27      5.50
9      0    269       81       8  53.0  11   0       24     12.00

In [69]:
xm=dfm.iloc[:,1:]
ym=dfm.iloc[:,0]

In [96]:
xt=dfv.iloc[:,1:]
yt=dfv.iloc[:,0]

In [107]:
yt

1837    1
1838    0
1839    0
1840    0
1841    0
1842    0
1843    0
1844    0
1845    0
1846    0
1847    0
1848    0
1849    0
1850    0
Name: Pl No, dtype: int64

In [70]:
xm.head(5)

   Horse  Trainer  Jockey    Wt  Dr  Sh  Ratings  new_odds
0     18       62      31  56.5  12   0       31      5.50
1     59       74      18  55.5   9   0       29     15.00
2    465        1      46  54.5  10   0       27     20.00
3    566       48       0  59.0   6   0       36     12.00
4    123       77      12  54.5   2   0       27      3.75

In [83]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(xm,ym,test_size=6,random_state =1)

In [84]:
y_test,x_test

(556     0
 1406    1
 1451    0
 111     0
 1788    0
 1228    0
 Name: Pl No, dtype: int64,
       Horse  Trainer  Jockey    Wt  Dr  Sh  Ratings  new_odds
 556     297       19      31  55.0  12   0       31      4.75
 1406    458       22      54  53.0   8   0       68      0.35
 1451    132       79      18  61.0   4   0       25      5.00
 111     161       48      55  58.0  13   0       19     12.00
 1788    225       77      50  55.5   8   0       33     12.00
 1228    446       29      12  53.0   3   0       28     12.00)

In [85]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [122]:
logreg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [123]:
y_pre= logreg.predict(xt)

In [124]:
y_pre

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [125]:
from sklearn.metrics import accuracy_score
accuracy_score(yt, y_pre)

0.9285714285714286

In [126]:
y_pred=logreg.predict_proba(xt)

In [127]:
y_pred_1 =[p[1] for p in y_pred]

In [128]:
y_pred_1

[0.1603004571194003,
 0.25463340348788827,
 0.010126702631959347,
 0.11593537282383828,
 0.3525134434358292,
 0.00805556119688192,
 0.02546243188685426,
 0.010872552009263172,
 0.0976558101744078,
 0.17657399744999855,
 0.013806327355336215,
 0.009750438873917074,
 0.026666187904195053,
 0.024649848801159033]

In [129]:
print( roc_auc_score(yt, y_pred_1) )

0.7692307692307692

In [110]:
from sklearn.metrics import roc_auc_score

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [108]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
pred = clf.predict_proba(xt)

In [109]:
pred

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [ ]:
x=df.iloc[:,1:]
y=df.iloc[:,0]
print(x)

In [ ]:
import pandas_profiling as pp
pp.ProfileReport(df)

In [ ]:
from sklearn.preprocessing import Imputer

In [ ]:
imputer=Imputer(missing_values="Nan",strategy='mean',axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
labelencoderx = LabelEncoder()

In [ ]:
z=x.copy()

In [ ]:
x['Horse'] = labelencoderx.fit_transform(x.values[:, 0])
x['Trainer'] = labelencoderx.fit_transform(x.values[:, 1])
x['Jockey'] = labelencoderx.fit_transform(x.values[:, 2])

In [ ]:
print(x)

In [ ]:
x.describe()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(sparse =False, categorical_features = [0])

In [ ]:
x['Horse']=onehotencoder.fit_transform(x.values[:,0])

In [ ]:
x

In [ ]:
pd.get_dummies(x["Horse"])

In [ ]:
x['Ratings'] = x['Ratings'].apply(lambda x: np.Nan if x == '-' else x)

In [ ]:
x['Ratings'].contains('-').any().any()

In [ ]:
print(x)

In [ ]:
x.info()

In [ ]:
x["Ratings"].str.contains('-').any()

In [ ]:
x['Ratings']=x['Ratings'].replace('-', p.nan)

In [ ]:
x["Ratings"].iloc('-',axis=0)

In [89]:
range(0,2)

range(0, 2)